.hinnn-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.hinnn-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}



.hinnn-docs-sidebar .nav > .active > ul {
    display: block;
}

.hinnn-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}

.hinnn-docs-sidebar .nav .nav > .active:focus > a, 
.hinnn-docs-sidebar .nav .nav > .active:hover > a,
.hinnn-docs-sidebar .nav .nav > .active > a {
    padding-left: 28px;
    font-weight: 500;
}

.hinnn-docs-section > p, 
.hinnn-docs-section > ul,
.hinnn-docs-section > ol, 
.hinnn-callout > p, 
.hinnn-callout > ol, 
.hinnn-callout > ul {
    line-height: 1.75;
    margin-bottom: 1.2em;
}
.hinnn-callout.small-callout {
    padding: 10px;
    margin: 10px 0;
  
    border-left-width: 2px;
    border-radius: 0px;
}

.hinnn-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.hinnn-callout-danger h4 {
    color: #ce4844;
}

.hinnn-callout-danger {
    border-left-color: #ce4844;
}

.hinnn-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.hinnn-callout p:last-child {
    margin-bottom: 0;
}

.hinnn-callout *:last-child {
    margin-bottom: 0;
}

.s {
    color: #d44950;
}
.na {
    color: #4f9fcf;
}

.nt {
    color: #2f6f9f;
}

.c {
    color: #999;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.simpaleExplain {
    line-height: 1.75;
    margin-bottom: 1.2em;
    font-size: 19px;
    font-weight: 300;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #ffffff;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #231c1c;
    border: 1px solid #877878;
    /* border-radius: 4px; */
}